*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #D6DDED;
}

/* shared css */
.break{
    display: block;
}

.btn{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 7px;
    text-decoration: none;
}

/* Navbar And Banner Section */
.header{
    background-image: url(../img/Hero-bg.png);
    background-size: cover;
    background-position: center;
    min-height: 698px;
    padding: 20px 40px;

}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
}
.logo{
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
}

.content{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

}
.content h1{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-top: 70px;
    max-height: 150px;
    
}
.banner-btn{
    text-align: center;
    margin-top: 37px;
}

/* Active section */
.active-section{
    display: flex;
    justify-content: space-around;
    padding: 70px 70px;
   
}
.left-side{
    padding: 40px;
}

.left-side h1{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 18px;
}
.left-description{
    font-size: 18px;
    font-weight: 300;
    color: #696870;
    margin-bottom: 18px;
}
/* user section */
.user-section{
    background-color: #D7D6F6;
    padding: 80px 50px;
    text-align:center;
    margin: 148px 159px;
    border-radius: 10px;
    
}

.user-content{
    display: flex;
    justify-content: space-around;
}
.user-heading{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #252432;
}
.active-user{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

/* review section */
.review-section{
   
    
}
.review-section h2{
    text-align: center;
}

.review-content{
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.review-container{
    background-color: white;
  border-radius: 12px;
  padding: 40px;
    
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: left;

}
.review-text{
    display: block;
}
.star-img{
    margin-bottom: 10px;
}
.review-img{
    margin-top: 24px;
}

/* git in touch section */
.get-in-section{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.get-column{
    width:50%;
}

.get-in-section input[type="email"], .get-in-section input[type="text"] , .get-in-section input[type="message"]{
    height: 64px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 100%;
    margin-bottom: 24px;
    border: none;
}

.btn-style{
    width: 100%;
}

.get-heading{
    font-size: 96px;
    font-weight: bold;
}
